<strong>Olá, {{ deliveryman }}</strong>
<p>A encomenda abaixo foi cancelada!</p>
<p>
  <span>
    O produto {{ product }} não foi entregue.
  </span>

  <br>
  <br>

  <strong>Código da encomenda: </strong>{{ delivery }} <br>
  <strong>Motivo: </strong>{{ description }}

</p>
